* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   line-height: 1.5;
   font-family: sans-serif;
   background: #fff;
   color: inherit;
}

ul, ol {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}
