@import url("reset.css");

#top{
   color: cornflowerblue;
}

.text1{
   color: rebeccapurple;
}

.text2{
   color: brown;
}

.text3{
   color: orange;
}

.text4{
   color: red;
}

#section-01{
   color: burlywood;
}

.text5{
   color: green;
}

.text6{
   color: blueviolet;
}

#section-02{
   color: chartreuse;
}

.text7{
   color: darkslateblue;
}

#section-03{
   color: forestgreen;
}

.text8{
   color: blue;
}

#section-04{
   color: grey;
}

.text9{
   color: cadetblue;
}

#section-05{
   color: indigo;
}

.text10{
   color: gold;
}

#section-06{
   color: lime;
}

.text-bold{
   color: orchid;
}

.custom-list{
   color: rosybrown;
}

#section-07{
   color: orangered;
}

.text11{
   color: cornflowerblue;
}

#section-08{
   color: springgreen;
}

.highlight{
   color: rgb(80, 0, 184);
}

.text13{
   color: crimson;
}

#section-09{
   color: blueviolet;
}

.text14{
   color: deeppink;
}

.text15{
   color: cadetblue;
}

.custom-ul{
   color: chartreuse;
}

[class*="te"]{
color: darkblue;
}

div.text{
   color: magenta;
}

p#top2{
   color: brown;
}
