@import url("reset.css");

.main-title{
   color: cornflowerblue;
}

.text1{
   color: rebeccapurple;
}

.text2{
   color: brown;
}

.text3{
   color: orange;
}

.text4{
   color: red;
}

.title1{
   color: burlywood;
}

.text5{
   color: green;
}

.text6{
   color: blueviolet;
}

.title2{
   color: chartreuse;
}

.text7{
   color: darkslateblue;
}

.title3{
   color: forestgreen;
}

.text8{
   color: blue;
}

.title4{
   color: grey;
}

.text9{
   color: cadetblue;
}

.title5{
   color: indigo;
}

.text10{
   color: gold;
}

.title6{
   color: lime;
}

.text-bold{
   color: orchid;
}

.custom-list{
   color: rosybrown;
}

.title7{
   color: orangered;
}

.text11{
   color: cornflowerblue;
}

.title8{
   color: springgreen;
}

.highlight{
   color: rgb(80, 0, 184);
}

.text12{
   color: coral;
}



.text13{
   color: crimson;
}

.title9{
   color: royalblue;
}

.text14{
   color: deeppink;
}

.text15{
   color: cadetblue;
}

.custom-ul{
   color: chartreuse;
}